<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.and1droid.businesscards" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CompanyListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CompanyDetailActivity"
            android:label="@string/title_company_detail"
            android:parentActivityName=".CompanyListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CompanyListActivity" />
        </activity>
    </application>

</manifest>
